#!/bin/bash

#########################################################################################################
#                                                                                                       #
#   EASYSEC - SSL Renewal                                                                               #
#   This script renews automatically the available certificates and updates them in the specified path  # 
#   Affected domain - {{ ssl_domain }}                                                                  #
#                                                                                                       #
#########################################################################################################

{% if ssl_cert %}
cp {{ ssl_live_certs_dir }}/{{ ssl_domain }}/fullchain.pem {{ ssl_cert_path }}
{% endif %}

{% if ssl_ssl_key %}
cp {{ ssl_live_certs_dir }}/{{ ssl_domain }}/privkey.key {{ ssl_key_path }}
{% endif %}