# Keycloak configuration - EasySec
hostname={{ keycloak_hostname }}
http-port={{ keycloak_http_port }}
https-port={{ keycloak_https_port }}

db={{ keycloak_database_type }}
db-url-host={{ keycloak_database_host }}
db-url-port={{ keycloak_database_port }}
db-url-database={{ keycloak_database_name }}
db-username={{ keycloak_database_user }}
db-password={{ keycloak_database_password }}

log=file
log-file={{ keycloak_log_dir }}/keycloak.log