language={{ lynis_lang }}
profile-name=Automatic Audit - EasySec
ssl-certificate-paths=/etc/apache2:/etc/dovecot:/etc/httpd:/etc/letsencrypt:/etc/pki:/etc/postfix:/etc/refind.d/keys:/etc/ssl:/opt/psa/var/certificates:/usr/local/psa/var/certificates:/usr/local/share/ca-certificates:/usr/share/ca-certificates:/usr/share/gnupg:/var/www:/srv/www:/etc/ssl:/etc/nginx/ssl
compliance-standards=cis,iso27001,pci-dss