## Configuration of Tor service - EasySec

SocksPort {{ proxychains_start_port + item }} IsolateSOCKSAuth
DataDirectory {{ proxychains_lib_folder }}/instance-{{ item }}
PidFile {{ proxychains_lib_folder }}/instance-{{ item }}/tor.pid
Log notice file {{ proxychains_log_folder }}/instance-{{ item }}.log
SocksPolicy accept 127.0.0.1