[Unit]
Description=Tor Proxy - Instance %i - EasySec
After=network.target

[Service]
Type=simple
User={{ proxychains_user }}
Group={{ proxychains_group }}
ExecStart=/usr/bin/tor -f /etc/tor/instances/%i
RuntimeDirectoryMode=0700
PIDFile={{ proxychains_lib_folder }}/%i/tor.pid
Restart=on-failure
LimitNOFILE=65536
LimitCORE=infinity
LimitNPROC=4096

[Install]
WantedBy=multi-user.target